body {

         font-size: 20px;
         font-family: "Outfit", sans-serif;
         background-color: white;
}

.nav {
         display: flex;
         border: none;
         background-color: #5cbdb9;
         justify-content: space-between;
}

.nav .logo h1 {
         color: white;
         padding-left: 30px;


}

.nav .a {
         margin-top: 40px;
         margin-left: 40px;
}

.nav .a a {
         margin: 100px;
         text-decoration: none;
         font-size: 30px;
         color: black;

}

.nav .a button {
         padding: 20px 20px 10px 20px;
         margin-right: 60px;
         width: 150px;
         font-size: 30px;
         font-family: "Outfit", sans-serif;
         border-radius: 40px;
         margin-top: -60px;
         background-color: white;
         color: #5cbdb9;
         border: none;
         box-shadow: 1px 1px 6px 1px black;

}

.image {
         border: none;
         margin-top: -150px;
         border-radius: 0px;
         background-color: transparent;
         display: flex;
         padding: 20px 40px 0px 40px;
         border: solid;
         border-width: 0px 0px 5px 0px;
         border-color: #5cbdb9;





}

.out1 {
         padding-left: 4%;

}

.outer1 {
         display: flex;
         gap: 90px;
         font-size: 40px;
         padding-top: 40px;

}



.out2 p {
         text-align: center;
         font-family: "Crimson Pro", serif;
}

.out2 h2 {
         padding-left: 30px;
}

.out2 hr {
         border: solid;
         border-color: #5cbdb9;
         padding-left: 40px;

}




.outer2 {
         display: flex;
         padding-top: 150px;
}

.out3 {
         border: none;
         padding-right: 30px;
         font-size: 40px;
}

.out3 p {
         text-align: center;
         font-family: "Crimson Pro", serif;

}

.out3 h2 {
         padding-left: 30px;
}

.out3 hr {
         border: solid;
         border-color: #5cbdb9;
         padding-left: 40px;
}

.outer3 {
         display: flex;
         padding-top: 90px;
}

.out6 hr {
         border: solid;
         border-color: #5cbdb9;
         padding-left: 40px;

}

.out6 {
         font-size: 40px;
         padding-left: 30px;
         border: none;
         padding-right: 30px;
}

.out6 p {
         font-family: "Crimson Pro", serif;

}

.footer a {
         font-size: 30px;
         margin: 150px;
         text-decoration: none;
         color: black;
}

.footer {
         padding-top: 40px;
}

.footer hr {
         border: solid;
         border-color: #5cbdb9;
         padding-left: 40px;

}